*/.pybuild/
*/*.egg-info/
__pycache__

*/debian/.debhelper/
*/debian/debhelper-build-stamp
*/debian/files
*/debian/*.postinst.debhelper
*/debian/*.postrm.debhelper
*/debian/*.prerm.debhelper
*/debian/*.substvars

*.deb
*_amd64.build
*.dsc
*.tar.xz
*_amd64.buildinfo
*_amd64.changes

local_repo/db/
local_repo/dists/
local_repo/old_repo/
