*/.pybuild/
*/debian/.debhelper/
*/debian/debhelper-build-stamp
*/debian/files
*/debian/*.postinst.debhelper
*/debian/*.postrm.debhelper
*/debian/*.prerm.debhelper
*/debian/*.substvars
*/*.egg-info/

*.deb
*_amd64.build
*.dsc
*.tar.xz
*_amd64.buildinfo
*_amd64.changes
