Description=Live image directory
ConditionPathIsSymbolicLink=!/live/mount
ConditionKernelCommandLine=!systemd.unit=modian-install.target

[Mount]
What=/dev/disk/by-label/##root##
Where=/live/image
Type=ext4
TimeoutSec=10

[Install]
WantedBy=local-fs.target
