Source: modian-live-wrapper
Maintainer: Enrico Zini <enrico@enricozini.org>
Section: misc
Priority: optional
Build-Depends: 
               debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-apt,
               python3-requests,
               python3-setuptools,
               python3-sphinx,
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: modian-live-wrapper
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         debian-archive-keyring,
         isolinux,
         python3-distro-info,
         squashfs-tools,
         xorriso
Suggests: cmdtest,
          modian-live-wrapper-doc
Description: Wrapper for vmdebootstrap for creating live images
 live-wrapper is a wrapper around vmdebootstrap to install a live Debian
 system into an ISO image, which can be used by booting from optical media or a
 USB device.
 .
 This is a fork of live-wrapper that removes the need for vmdebootstrap.
 .
 isolinux and grub2 bootloaders can be supported, depending on the distribution
 and the architecture.

Package: modian-live-wrapper-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: Wrapper for vmdebootstrap for creating live images (Documentation)
 live-wrapper is a wrapper around vmdebootstrap to install a live Debian
 system into an ISO image, which can be used by booting from optical media or a
 USB device.
 .
 This is a fork of live-wrapper that removes the need for vmdebootstrap.
 .
 isolinux and grub2 bootloaders can be supported, depending on the distribution
 and the architecture.
 .
 This package contains documentation on using modian-live-wrapper to create
 live images.
