[Unit]
Description=Automatic start Modian legacy ISO
PartOf=graphical-session.target

[Service]
Type=idle
ExecStart=/usr/bin/sudo /usr/bin/modian-legacy --verbose
RestartSec=3s
Restart=always

[Install]
WantedBy=modian-legacy.target
