[Unit]
Description=Modian - System image installation and rescue procedure
After=modian-debug-shell.service

[Service]
StandardOutput=journal+console
ExecStart=-/usr/sbin/modian-install install
Type=oneshot
